<div class="video-blog">
    <div class="video-blog__title">Видеоблог</div>

    <div class="video-blog__author">
        <img class="video-blog__name" src="{{ site.baseurl }}/assets/img/videoBlog/name.png" alt="name">
        <img class="video-blog__surname" src="{{ site.baseurl }}/assets/img/videoBlog/surname.png" alt="surname">
    </div>

    <div class="video-blog__video-wrapper">
        <img class="video-blog__video" src="{{ site.baseurl }}/assets/img/videoBlog/video_bg.jpg" alt="video">
        <iframe class="video-blog__iframe" src="https://www.youtube.com/embed/{{ site.youtubeVideo }}" frameborder="0" allowfullscreen></iframe>
    </div>

    {% if site.moderated %}
        <a href="https://sslcasino.com/videoblog" class="video-blog__arrow-left"></a>
        <a href="https://sslcasino.com/videoblog" class="video-blog__arrow-right"></a>
    {% else %}
        <a href="{{ site.youtubeChannel }}" class="video-blog__arrow-left"></a>
        <a href="{{ site.youtubeChannel }}" class="video-blog__arrow-right"></a>
    {% endif %}

    <div class="video-blog__btn-wrapper">
        {% if site.moderated %}
            <a href="{{ site.moderatedUrl }}" data-url class="video-blog__btn video-blog__btn-play">
                Регистрация
            </a>
        {% else %}
            <a href="{{ site.youtubeChannel }}"  class="video-blog__btn video-blog__btn-play">
                Подисаться на канал
            </a>
        {% endif %}
    </div>
</div>

