@import 'ui/_buttons';

// Body
// $bodyBg: #000920 url(../img/site/bg-cosmic.jpg) top center no-repeat;
$bodyBg: #179C69;
$bodyFont: 400 14px/1.35 'Open Sans Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$bodyColor: #222;
$siteColor: #FFF;
$footerColor: #000;
$footerTextColor : #7F7F7F;
