body {
    background: #13031d url(../img/background/bg.jpg) no-repeat center top;
}

.main-container {
    max-width: $XL;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    padding-bottom: 70px;
}
