body {
    background: url(/assets/img/background/bg.jpg) no-repeat center top #13031d;
}

.main-container {
    max-width: $XL;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    margin-bottom: 30px;
}
